<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
		
		<!-- 静态工厂创建 -->
	<bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateInstance">
		<constructor-arg value="2"></constructor-arg>
	</bean>	
	<bean id="simpledateformat" class="java.text.SimpleDateFormat">
		<constructor-arg value="YYYY-MM-DD hh-mm-ss"></constructor-arg>
	</bean>
	<bean id="date" factory-bean="simpledateformat" factory-method="parse">
	    <constructor-arg value="2017-12-24 17-45-50"></constructor-arg>
	</bean>
	
	<bean id="car1" class="spring2.Car">
		<property name="type" value="宝马"></property>
	</bean>
	
	<bean id="car2" class="spring2.CarFactoryBean"></bean>
	
</beans>